# Python
__pycache__/
*.py[cod]
*$py.class
.Python
build/
dist/
*.egg-info/

# Virtual environments
.env
.venv
venv/
env/

# Streamlit secrets
.streamlit/secrets.toml

# IDEs
.vscode/settings.json
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

#test files
test_csv_files/